[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
black = "*"
django = "*"
django-debug-toolbar = "*"
django-extensions = "*"
djangorestframework = "*"
django-timezone-field = "*"
whitenoise = "*"
neapolitan = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
flake8-django = "*"
flake8 = "*"
coverage = "*"
pytest-html = "*"
pylint = "*"

[requires]
python_version = "3.10"
